.content-container {
    width: 1280px;
    justify-content: center;
    margin: 48px auto 180px;
}

.title {
    font-size: 64px;
    font-weight: 800;
    color: var(--main-color);
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
}

.full-specs-form-container {
    border-radius: 20px;
    background-color: var(--footer-bg);
    padding: 25px;
    width: 100%;
    max-width: 1280px;
    display: flex;
}

.full-specs-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.spec-container {
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 25px;
    width: 1230px;
}

.spec-container h2 {
    color: var(--some-text);
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 25px;
}

.paragraph-cost {
    color: var(--some-text);
    font-size: 32px;
    font-weight: 600;
    margin: 0 0;
}

.full-specs-form-container form button {
    max-width: 228px;
    width: 100%;
    height: 56px;
    background-color: var(--main-color);
    border-radius: 20px;
    border: none;
    color: var(--some-text);
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
}

.full-specs-form-container form button:hover {
    background-color: var(--header-hover-color);
}

.from-to-container,
.dimension-container,
.receiver-data-container,
.package-num-container,
.find-by-city-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.from-container,
.to-container,
.single-spec-container,
.tariff-container,
.receiver-name,
.receiver-phone,
.package-num,
.find-by-city {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.from-container label,
.to-container label,
.single-spec-container label,
.tariff-container label,
.receiver-name label,
.receiver-phone label,
.package-num label,
.find-by-city label {
    font-size: 23px; /* Тут мало б бути 24 пікселі, проти опера не відображає як треба */
    color: var(--some-text);
}

.from-container select,
.to-container select,
.tariff-container select,
.find-by-city select {
    width: 550px;
    height: 80px;
    border-radius: 20px;
    color: #838383;
    font-size: 24px;
    font-family: "Roboto Flex", sans-serif;
    padding: 25px;
}

.single-spec-container input,
.receiver-name input,
.receiver-phone input,
.package-num input {
    width: 200px;
    height: 80px;
    border-radius: 20px;
    padding: 25px;
    color: #838383;
    font-size: 24px;
    font-family: "Roboto Flex", sans-serif;
    border: none;
}

#estimated-val input {
    width: 280px;
}

#fullname {
    width: 700px;
}

#phone, #number-of-package {
    width: 400px;
}

.tariff-container select {
    width: 600px;
}

