.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 48px;
    font-weight: 700;
}

.header__logo {
    font-size: 48px;
    transition: 0.2s linear;
    color: var(--header-color);
}

.header__logo:hover {
    color: var(--header-hover-color);
}

.header__navwrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item a {
    font-size: 24px;
    transition: 0.2s linear;
    color: var(--header-color);
}

.menu__item a:hover {
    color: var(--header-hover-color);
}

.header__register {
    font-size: 24px;
    padding: 14px 16px;
    border-radius: 20px;
    background-color: var(--header-color);
    transition: 0.2s linear;
    color: var(--some-text);
}

.header__register:hover {
    background-color: var(--header-hover-color);
}

.header__login {
    width: 50px;
    height: 50px;
}

#header__svg {
    transition: 0.2s linear;
    fill: var(--header-color);
}

#header__svg:hover {
    fill: var(--header-hover-color);
}
