.category-n-profile {
    margin-top: 48px;
    /*margin-bottom: 180px;*/
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.category-container, .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    background-color: var(--footer-bg);
    border-radius: 20px;
    width: fit-content;
    align-self: flex-start;
}

.form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.single-category {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--main-color);
    color: var(--some-text);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.single-category:hover {
    background-color: var(--header-hover-color);
}

.single-category h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
}

.profile-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.form-group label {
    font-size: 24px;
    font-weight: 600;
    min-width: 30%;
}

.form-group input {
    width: 631px;
    height: 50px;
    background-color: var(--some-text);
    border-radius: 20px;
    border: 2px solid #7A7A7A;
    padding: 15px;
    font-size: 24px;
    color: #484848;
}

.profile-container form button {
    width: 228px;
    height: 56px;
    background-color: var(--header-color);
    border-radius: 20px;
    border: none;
    color: var(--some-text);
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
}
.profile-container form button:hover {
    background-color: var(--header-hover-color);
}