<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Денис Пиписка</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/components.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <header class="header">
        <div class="header__wrapper">
            <a href="index.html" class="header__logo">Quick</a>
            <div class="header__navwrapper">
                <nav>
                    <ul class="menu">
                        <li class="menu__item"><a href="#">Послуги</a></li>
                        <li class="menu__item"><a href="#">Тарифи</a></li>
                        <li class="menu__item"><a href="#">Контакти</a></li>
                    </ul>
                </nav>
                <button class="button header__login">Реєстрація</button>
                <button class="button header__logout">
                    <svg width="50px" height="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path id="header__svg" fill-rule="evenodd" id="svg-path" clip-rule="evenodd"
                            d="M8 6C8 3.79086 9.79086 2 12 2H17.5C19.9853 2 22 4.01472 22 6.5V17.5C22 19.9853 19.9853 22 17.5 22H12C9.79086 22 8 20.2091 8 18V17C8 16.4477 8.44772 16 9 16C9.55228 16 10 16.4477 10 17V18C10 19.1046 10.8954 20 12 20H17.5C18.8807 20 20 18.8807 20 17.5V6.5C20 5.11929 18.8807 4 17.5 4H12C10.8954 4 10 4.89543 10 6V7C10 7.55228 9.55228 8 9 8C8.44772 8 8 7.55228 8 7V6ZM12.2929 8.29289C12.6834 7.90237 13.3166 7.90237 13.7071 8.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L13.7071 15.7071C13.3166 16.0976 12.6834 16.0976 12.2929 15.7071C11.9024 15.3166 11.9024 14.6834 12.2929 14.2929L13.5858 13L5 13C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11L13.5858 11L12.2929 9.70711C11.9024 9.31658 11.9024 8.68342 12.2929 8.29289Z"
                            fill="#0F1729" />
                    </svg>
                </button>
            </div>
        </div>
    </header>

    <section class="section">
        <div class="hero">
            <div class="hero-info">
                <h1 class="hero-info__h1">Quick</h1>
                <p class="hero-info__p">Швидка доставка майбутнього</p>
            </div>
            <form action="#" class="hero-form">
                <input type="email" placeholder="Введіть електронну адресу" class="input hero-form__input">
                <button class="button hero-form__button">Відстежити</button>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__wrapper">
            <div class="footer__info">
                <div class="footer__column">
                    <div class="footer__menu-header">Контактні дані:</div>
                    <ul class="menu-footer">
                        <li class="menu-footer__item">+380 66 288 1705</li>
                        <li class="menu-footer__item">quick.support@quick.com</li>
                        <li class="menu-footer__item">м. Запоріжжя, просп. Соборний 130</li>
                    </ul>
                </div>

                <div class="footer__column">
                    <div class="footer__menu-header uniq-first">Підписатися на новини:</div>

                    <form action="#" class="form-email">
                        <input type="email" placeholder="Введіть електронну адресу" class="input form-email__input">
                        <button class="button form-email__button">Підписатися</button>
                    </form>

                </div>

                <div class="footer__column">
                    <div class="footer__menu-header uniq-second">Наші соціальні мережі:</div>
                    <div class="footer__icon">
                        <a href="https://www.facebook.com/"><img src="../static/img/homepage/facebook.svg"
                                alt="Посилання на facebook"></a>
                        <a href="https://www.instagram.com/"><img src="../static/img/homepage/inst.svg"
                                alt="Посилання на instagram"></a>
                        <a href="https://web.telegram.org/a/"><img src="../static/img/homepage/telegram.svg"
                                alt="Посилання на telegram"></a>
                        <a href="https://twitter.com/"><img src="../static/img/homepage/twitter.svg"
                                alt="Посилання на twitter"></a>
                        <a href="https://www.tiktok.com/"><img src="../static/img/homepage/tiktok.svg"
                                alt="Посилання на tiktok"></a>
                        <a href="https://www.youtube.com/"><img src="../static/img/homepage/youtube.svg"
                                alt="Посилання на youtube"></a>
                    </div>
                </div>
            </div>

            <div class="footer__copywrite">© 2024 Quick. Всі права захищені. Ваш надійний партнер у світі поштових
                послуг
            </div>
        </div>
    </footer>
</body>

</html>